/* Головний колір сайту #F5F5F5; */
/* Додатковий колір сайту  #2F303A */
/* Колір кнопки #2196F3 */

:root{
    --first-font:'Raleway';
    --second-font:'Roboto', sans-serif;
    --accent-color:#FFFFFF;
    --link-hover-color:#2196F3;
}
body {
    background-color:var(--accent-color);
    font-family: var(--second-font);
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: currentColor;
}
img{
    display: block;
}
/* reset and */
.container{
    width: 1220px;
    margin: 0 auto;
    padding: 0 15px;

}

/*Header*/
.header {
    background: var(--primary-background-color);
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
  }
  .header-nav-list {
    display: flex;
    gap: 50px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-contact {
    display: flex;
    margin-left: auto;
    gap: 50px;
  }
  
  .header-container {
    display: flex;
  }
  .header-nav-after-list {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .logo-type-one {
    color: var(--link-hover-color);
  }
  .logo-type {
    margin-right: 93px;
  }
  .logo-type {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-black);
  }
  .header-nav-list .link.current {
    color: #212121;;
  }
  .header-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
  }
  .header-link:hover,
  .header-link:focus,
  .header-mail-link:hover,
  .header-mail-link:focus {
    color: var(--link-hover-color);
  }
  
  .header-mail-link,
  .header-tel-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .header-svg{
    fill: #757575;
    margin-right: 10px;
    justify-items: center;
  }
  .header-svg:hover,
  .header-svg:focus{
    fill: var(--link-hover-color);
    cursor: pointer;
  }
  .header-mail-link {
    align-items: center;
    display: flex;
  }
/*Main,buttons*/
.buttons-container{
    margin-bottom: 50px;
    align-items: center;
}
.buttons{
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 56px;
    

}
.button-li:hover,
.button-li:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.photo{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    gap: 30px;
}
.photo-li:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
} 
.photo li{
    border: 1px solid #EEEEEE;
}
.section-btm-title{
    background-color:var(--accent-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 /16);
    color: #212121;
    cursor: pointer;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-right: 22px;
      padding-left: 22px;
    text-align: center;
    border-color: transparent;
    border-radius: 4px
}

.button:hover,.button:focus{
    color: var(--accent-color);
    background-color: var(--accent-color);
    background: var(--link-hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;  
}
.main-title{
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 /18);
    letter-spacing: 0.06em;
    color: #212121;
}
.main-title-p{
    padding-left:24px;
    padding-right:24px ;
    padding-bottom:20px;
    padding-top:20px;
}

.main-p{
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 /16);
    letter-spacing: 0.03em;

    color: #757575; 
}
/*footer*/
.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    display: inline-block;
    margin-bottom: 20px;
  }
  .footer-logo-one {
    color: var(--link-hover-color);
  }
  .footer-item:not(:last-child) {
    font-style: normal;
    margin-bottom: 9px;
  }
  .footer-item-list {
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-background-color);
  }
  .footer-addres{
    color: var(--accent-color);
  }
  .footer-mail-link,
  .footer-tel-link {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
  }
  
  .footer-tel-link:hover,
  .footer-tel-link:focus,
  .footer-mail-link:hover,
  .footer-mail-link:focus {
    color:var(--link-hover-color);
  }
  .adress-title {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-background-color);
  }
  /* Footer svg */
  
  .footer-svg-link{
    display: flex;
    gap: 10px
  }
  .footer-adress{
    display: flex;
    gap: 156px;
  }
  .footer-title-container{
    width: 116px;
    height: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 20px;
  }
  .footer-social-link:hover,
  .footer-social-link:focus{
    fill: var(--accent-color);
    background-color: var(--link-hover-color);
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }
  .footer-social-link{
    border-radius: 50%;
    fill:  #FFFFFF;
    padding: 12px;
    cursor: pointer;
    display: flex;
  }
  .svg-links{
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
  }